.container{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
	.navigation{
		& > button{
			margin-right: 5px;
		}
	}
	.workedContainer{
		&>p:hover{
			color: blue;
		}
	}
}