.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	&>button{
		display: block;
		position: absolute;
		top: 650px;
		left: 960px;
	}
}
.imageContainer img{
	width: 50%;
	height: 500px;
	align-items: center;	
	display: flex;
	justify-content: center;
}
 
.enter{
	display: block;
	position: absolute;
	top: 600px;
	left: 960px;
}